<aside id="feed">
<p>Feeds</p>
<div id="bottom border"></div>
<%= link_to "Top Stories"%>
<%= link_to "New Questions",controller: :home,action: :newquestions%>
<%= link_to "Top Rated Questions"%>
</aside>

<div id="newquestions">
<% @question.each do | question|%>
<%=render 'question',question:question%>
<% end%>
</div>
<script type="text/javascript">
	$(document).ready(function(){
    console.log('question')
	window.question_load_more_active=false;
	window.question_offset=10;
	document.addEventListener('scroll',function(event){
	   bh = document.body.offsetHeight;
       wh = $(window).height();
       scrollY = window.pageYOffset;
       console.log(window.load_more_active)
	   if(bh - wh +200 < scrollY && !window.question_load_more_active){
	         	 window.question_load_more_active=true;
	         	 console.log('question')
	         	 console.log("sending ajax request")
	             $.ajax({
	                  url:'/newquestions',
	                  type:'GET',
	                  dataType:'script',
	                  data:{
	                     offset:window.question_offset,
	                     format:'js'
	                  }
	            });
	   }
	    
	});
});
</script>