<section id="usercover">
<%@feed.each do |user|%>
<%=render 'userbloc',user:user%>
<%end%>
</section>
<script type="text/javascript">
	$(document).ready(function(){
	window.question_load_more_active=false;
	window.offset=10;
	document.addEventListener('scroll',function(event){
	   bh = document.body.offsetHeight;
       wh = $(window).height();
       scrollY = window.pageYOffset;
	         if(bh - wh -50 < scrollY && !window.load_more_active){
	         	 window.load_more_active=true;
	             $.ajax({
	                  url:'/user',
	                  type:'GET',
	                  dataType:'script',
	                  data:{
	                     offset:window.offset,
	                     format:'js'
	                  }
	             });
	         }
	    
	});
});
</script>