<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	<title></title>
</head>
<body>
<h1>Hii...<%=@user.username%></h1>
<p>The question posted by you has got a response</p>
<p>
	Check it out...
</p>
<p>
Have a nice and a knowledgable day....!</p>
</p>
</body>
</html>