#commentsection{
    margin-top: 10px;
	img{
	   width:23px;
	   height:23px;
	   border-radius:50%
	}
	display:flex;
	align-items:center;
	justify-content:flex-start;
	form{
	   margin-left:8px;
	   input[type="text"]{
	          border:none;
	          width:480px;
	          border-bottom:2px solid #e2e2e2;
	          padding:6px;
	          color:black;
	   }
	   input[type="submit"]{
	               font-size:15px;
                   text-decoration:none;
                   display:none;
                   color:#2b6dad;
                   padding:2px 8px 2px 8px;
                   border-radius:2px;
                   background-color:#f1f8fb;
                   border:none;
                   cursor:pointer;
	   }
	}
}
#comment{
     margin-top:10px;
     display:flex;
     flex-direction:column;
     justify-content:center;
     section{
         display:flex;
         align-items:center;
	     img{
	       width:20px;
	       height:20px;
	       border-radius:50%;
	    }
	    content{
	       padding-left:8px;
	       font-family: Georgia,Times,"Times New Roman",serif;
           font-size: 13px;
           line-height: 1.5;
           color: #333;
	    }
	 }
	 section[id="comment_text"]{
	            margin-left:20px;
	 }
	 
}