#devisemain{
	width:1365px;
	height:100vh;
  min-height:100vh;
	background-image:image-url('devise/b.gif');
	display:flex;
	justify-content:center;
	align-items:center;
}
div.box{
    width:400px;
    height: content;
    background-color:#ffffff;
    padding:20px;
    box-shadow: 0 8px 16px 0 #224687;
    border-radius:5px;
    header{
       font-family: 'Lobster', cursive;
       color:#E91E63;
       letter-spacing:0.05em;
       font-size:2.5em;
       display:flex;
       justify-content:center;
       align-items:center;
    }
    section{
       margin-top:10px;
       font-family: 'rancois One', sans-serif;
       font-family: 'Bree Serif', serif;
       font-size:1em;
       display:flex;
       flex-direction:column;
       div{
           padding-top:5px;
           padding-bottom:5px;
           height: content;
       }
       input{
          width:380px;
          height:25px;
          padding:4px;
          border:none;
          border-bottom:2px solid #2196F3;
       }
       input:-webkit-autofill {
         -webkit-box-shadow: 0 0 0px 1000px white inset;
       }
       input[type="checkbox"]{
           width:12px;
           height:12px;
           margin-right:10px;
           margin-top: 10px;
       }
        input[type="submit"]{
          border-radius:7px;
          width:387px;
          height:40px;
          font-size:1.2em;
          background-color: #2196F3;
          color:white;
       }
       input[type="submit"]:hover{
          border-radius:7px;
          width:387px;
          height:40px;
          background-color:#fff;
          font-size:1.2em;
          border:2px solid  #2196F3;
          color: #2196F3;
       }
       label{
          padding-bottom:6px;
       }
       footer{
       margin-top:15px;
       display:flex;
       width:380px;
       justify-content:flex-start;
       a{
          padding-right:10px;
          text-decoration:none;
          color: #1565C0;
       }
      }
    }
 }
#heading{
       color: #1565C0;
}
#errors{
       color: #F44336;
       height: content;
       width: 380px;
       font-size: 0.8em;
       h2{
        display: none;
       }
       ul{
        text-decoration: none;
       }
}
