div.boxpassword{
    width:400px;
    height:250px;
    background-color:#ffffff;
    padding:20px;
    box-shadow: 0 8px 16px 0 #224687;
    border-radius:5px;
    header{
       font-family: 'Lobster', cursive;
       color:#E91E63;
       letter-spacing:0.05em;
       font-size:2.5em;
       display:flex;
       justify-content:center;
       align-items:center;
    }
    section{
       margin-top:10px;
       font-family: 'rancois One', sans-serif;
       font-family: 'Bree Serif', serif;
       font-size:1em;
       display:flex;
       flex-direction:column;
       input[id="user_email"]{
          width:380px;
          border:none;
          padding:4px;
          margin-top:-5px;
          border-bottom:2px solid #2196F3;
       }
       input:-webkit-autofill {
         -webkit-box-shadow: 0 0 0px 1000px white inset;
       }
       div.field3{
          height:50px;
          width:380px;
          display:flex;
          flex-direction:column;
          justify-content:space-between;
          margin-top:10px;
       }
       input[type="submit"]{
          margin-top:20px;
          border:none;
          border-radius:7px;
          width:380px;
          height:35px;
          font-size:1.2em;
          background-color: #2196F3;
          color:white;
       }
       input[type="submit"]:hover{
          border-radius:7px;
          margin-top:20px;
          width:380px;
          height:35px;
          background-color:#fff;
          font-size:1.2em;
          border:2px solid  #2196F3;
          color: #2196F3;
       }
       footer{
       margin-top:15px;
       display:flex;
       width:380px;
       justify-content:flex-start;
       a{
          padding-right:10px;
          text-decoration:none;
          color: #1565C0;
       }
      }
    }
 }
